{% extends "base.html" %}

{% block content %}
  
	<p>	<img src= "/download-art-objects/{{post.key()}}" alt="DgK Cafe" class="objectperm">	</p>
	
		<form method="post" class="thepiece" action="{{ upload_url }}" enctype="multipart/form-data">
		
			<p id="edit-object">replace photo</p>
			<label id="update-object">
				<input type="file" name="art_object" value="{{art_object}}">
			</label>

			<ul>
				<li class="arts">Artist: 
				<div id="edit-artist" class ="stuff">
					<span>{{post.artist | safe}}</span>
					<input type="text" name="updateartist" value="{{updateartist}}" placeholder="Update Artist">
				</div></li>

				
				<li class="arts">Subject: 
				<div id="edit-subject" class="stuff">
					<span>{{post.subject | safe}}</span>
					<input type="text" name="updatesubject" value="{{updatesubject}}" placeholder="Update Subject">
				</div></li>
					
					 
				<li class="artsplus"><span class="stuff">{{post.content | safe}}</span></li>
					<b id="edit-note"></b>

						<label id="update-note">
							<input type="text" name="updatenote" value="{{updatenote}}" placeholder="Update Note">
						</label>

							<input type="submit" id="submit" name = "submit" value = "Submit">
			</ul>

		</form>
		
		<a id="moreby" href="{{'/oneartist/%s' % (post.key().id())}}">
			{{post.artist | safe}}
		</a>
		
		<form id="gone" action="{{'/delete/%s' % (post.key().id())}}" method="post"  enctype="multipart/form-data">
			<input type="submit" value="Remove">
		</form>
	
	<div class="ageplace">{{age}}</div>


{% endblock %}