{% extends "base.html" %}

{% block content %}
  
	<div>	<img src= "/download-art-objects/{{post.key()}}" alt="DgK Cafe" id="objectperm">	</div>

		<div id="moreby">More by
			<a href="{{'/oneartist/%s' % (post.key().id())}}">
				<span>{{post.artist | safe}}</span>
			</a>
		</div>
		

	
		<form method="post" id="thepiece" action="{{ upload_url }}" enctype="multipart/form-data">
		
			<div id="edit-object">replace photo</div>
			<div id="update-object">
				<input type="file" name="art_object" value="{{art_object}}">
			</div>

				
			<div id="artist">Artist:</div>
				<div id="edit-artist" class ="stuff">
					<span>{{post.artist | safe}}</span>
					<input type="text" name="updateartist" value="{{updateartist}}" placeholder="Update Artist">
				</div>

			<div id="title">Title:</div>
				<div id="edit-title" class ="stuff">
					<span>{{post.title | safe}}</span>
					<input type="text" name="updatetitle" value="{{updatetitle}}" placeholder="Update Title">
				</div>

			<div id="medium">Medium:</div>
				<div id="edit-medium" class ="stuff">
					<span>{{post.medium | safe}}</span>
					<input type="text" name="updatemedium" value="{{updatemedium}}" placeholder="Update Medium">
				</div>
			<p></p>	
			<div id="ob_date">Year Completed:</div>
				<div id="edit-ob_date" class ="stuff">
					<span>{{post.ob_date | safe}}</span>
					<input type="text" name="updateob_date" value="{{updateob_date}}" placeholder="Update Date">
				</div>

			<div id="provenance">Provenance:</div>
				<div id="edit-provenance" class ="stuff">
					<span>{{post.provenance | safe}}</span>
					<input type="text" name="updateprovenance" value="{{updateprovenance}}" placeholder="Update Provenance">
				</div>

			<div id="valuation">Valuation:</div>
				<div id="edit-valuation" class ="stuff">
					<span>{{post.valuation | safe}}</span>
					<input type="text" name="updatevaluation" value="{{updatevaluation}}" placeholder="Update Valuation">
				</div>
				
			<p></p>
			
			<div id="subject">Subject:</div> 
				<div id="edit-subject" class="stuff">
					<span>{{post.subject | safe}}</span>
					<input type="text" name="updatesubject" value="{{updatesubject}}" placeholder="Update Subject">
				</div>
				
			<p></p>
					
			<div id="remark">Remark:</div>		 
				<div id="edit-remark" class="stuff">
					<span>{{post.remark | safe}}</span>
				<!-- 	<input type="textarea" rows="4" cols="5" maxlength="50" name="updateremark" value="{{updateremark}}" placeholder="Update Remark"> -->
					<textarea id="text_remark" rows="5" cols="30" name="updateremark"value="{{updateremark}}" placeholder="Update Remark">{{updateremarks}}</textarea>
				</div>
			
			<input type="submit" id="submit" name = "submit" value = "Submit">
			
		</form>

		<!-- <div id="permfooter"> -->
		
<!-- 			<div id="trashed">
				<a href="{{'/trashed'}}">
					<span>The Trash</span>
				</a>
			</div>		 -->

			<form id="gone" action="{{'/remove/%s' % (post.key().id())}}" method="post"  enctype="multipart/form-data">
				<input type="submit" value="Remove">
			</form>
	
			<div class="ageplace">{{age}}</div>
	
	<!-- 	</div> -->


{% endblock %}