{% extends "base.html" %}

{% block content %}
  
	<div>	<img src= "/download-art-objects/{{post.key()}}" alt="DgK Cafe" id="objectperm">	</div>
	
		<form method="post" id="thepiece" action="{{ upload_url }}" enctype="multipart/form-data">
		
			<div id="edit-object">replace photo</div>
			<div id="update-object">
				<input type="file" name="art_object" value="{{art_object}}">
			</div>

			
			<div id="artist">Artist:</div>
				<div id="edit-artist" class ="stuff">
					<span>{{post.artist | safe}}</span>
					<input type="text" name="updateartist" value="{{updateartist}}" placeholder="Update Artist">
				</div>
					
			<div id="subject">Subject:</div> 
				<div id="edit-subject" class="stuff">
					<span>{{post.subject | safe}}</span>
					<input type="text" name="updatesubject" value="{{updatesubject}}" placeholder="Update Subject">
				</div>
					
			<div id="note">Notes:</div>		 
				<div id="edit-note" class="stuff">
					<span>{{post.content | safe}}</span>
					<input type="textarea" name="updatenote" value="{{updatenote}}" placeholder="Update Note">
				</div>

			<input type="submit" id="submit" name = "submit" value = "Submit">
			
		</form>
		<div id="moreby">More by
			<a href="{{'/oneartist/%s' % (post.key().id())}}">
				<span>{{post.artist | safe}}</span>
			</a>
		</div>
		
		<form id="gone" action="{{'/remove/%s' % (post.key().id())}}" method="post"  enctype="multipart/form-data">
			<input type="submit" value="Remove">
		</form>
	
	<div class="ageplace">{{age}}</div>


{% endblock %}