body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 1000px;
    padding: 1px;
    color: #333;
}

#searchform	{
	margin-left: 200px;
	margin-top: 1px;
	display:inline;
}

.space {
	position: relative;
	margin-top: 100px;
	color: red;
	}

#content	{
	position:relative;
	display: inline-block;
	margin-top: 100px;
	margin-left: 16%;
	width:98%;
}

#leftbank	{
	display:inline-block;
	color: #000000;
	background-color: #F0F0F0;
	float:left;
	border-style: solid;
	height:384px;
	width: 150px;
	margin-left: 0;
	margin-top: 100px;
	position: absolute;
	padding-left: 5px;
}

#leftbankby	{
	display:inline-block;
	margin-top: 20px;
}

#left-link1	{
	display:inline-block;
	position: absolute;
	margin-left:2px;
	margin-top: 5px;
	margin-bottom:60px;
	font-size:	15px;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	padding-bottom: 15px;
	padding-top: 5px;
}

#left-link1:hover	{
	text-decoration: underline;
	color: red;
}

.left-links	{
	display:inline-block;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	font: Ariel;
	text-decoration: none;
	color:#000000;
}

.left-links:hover	{
	text-decoration: underline;
	color: red;
}

#newpiece	{
	display:inline-block;
	width: 800px;
	position: relative;
	margin-left: 150px;
	margin-top: -10px;
}

#newartist	{
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
	
}

#newartist div	{
	display: inline-block;
	position: relative;
	margin-left: 20px;
}

#newtitle	{
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
	
}

#newtitle div	{
	display: inline-block;
	position: relative;
	margin-left: 30px;
}

#newmedium	{
	display: inline-block;
	position: relative;
	margin-left: -22px;
	margin-top: 20px;
	
}

#newmedium div	{
	display: inline-block;
	position: relative;
	margin-left: 30px;
}

#newob_date	{
	display: inline-block;
	position: relative;
	margin-left: -22px;
	margin-top: 20px;
	
}

#newob_date div	{
	display: inline-block;
	position: relative;
	margin-left: -45px;
}

#newprovenance	{
	display: inline-block;
	position: relative;
	margin-left: -55px;
	margin-top: 20px;
	
}

#newprovenance div	{
	display: inline-block;
	position: relative;
	margin-left: 30px;
}

#newvaluation	{
	display: inline-block;
	position: relative;
	margin-left: -32px;
	margin-top: 20px;
	
}

#newvaluation div	{
	display: inline-block;
	position: relative;
	margin-left: 30px;
}

#newsubject	{
	display: inline-block;
	position: relative;
	margin-left: -8px;
	margin-top: 20px;
}

#newsubject div	{
	display: inline-block;
	position: relative;
	margin-left: 20px;
}

#newobject	{
	display: inline-block;
	position: relative;
	margin-left: -22px;
	margin-top: 20px;
}

#newobject div	{
	display: inline-block;
	position: relative;
	margin-left: 20px;
}

#newremarks	{
	display: inline-block;
	position: relative;
	margin-left: 80px;
	margin-top: 10px;
}

#newremarks div	{
	display: inline-block;
	position: absolute;
	margin-left: -60px;
	margin-top:-1px;
}

#newsubmit	{
	position: absolute;
	margin-left: -270px;
	margin-top: -350px;
}

#finepiece	{
	margin-left: 300px;
	margin-top: 10px;
}

.objectsfront2	{
	display: block;
	width: 160px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	border-style:solid;
	
}

#byartist	{
	margin-left: 10px;
	font-size: 16px;
	width: 200px;
	padding: 5px;
	border-style: none;
	text-decoration: none;
	color:#000000;
}

#artisttitle	{
	position: relative;
	display:block;
	border-style: solid;
	background-color: #D0D0D0;
	text-align: center;
	font-size: 14px;
	margin-left:22px;
	text-decoration: none;
	color:#000000;
}

#pic	{
	display:block;
	width: 160px;
	height: 120px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 4px;
	border-style: solid;
}

#person	{
	font-family: Palatino, serif;
	font-size: 16px;
	font-weight: 500;
	color: black;
	margin: 1px 1px 5px 12px;
}

	
.login-area {
    font-size: 15px;
    color: black;
	background-color: #F0F0F0;
	border-style: solid;
    margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	position: absolute;
	width: 96%;
}

.main-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
	text-align:center;
	position: relative;
	margin-left: 15%;
	margin-top: 10px;
}

.main-title1 {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

	position: relative;
	margin-left: 30%;
	margin-top: 10px;
}


#update {
	margin-left: 500px;
	color:red;
	border-style:dashed;
	margin-right: 100px;
}

nav	{
	box-sizing: content-box;
	width: 100%;
	height: 5%;
	margin-bottom: 10px;
	}
	
.login-link  {
	text-align: left;
	color: black;
	display: inline-block;
    text-decoration: none;
	font-size: 15px;
	padding-left: 10px;
	padding-top: 10px;
}


/* .login-link:visited {
    color: gray;
} */

.login-link:hover {
    text-decoration: underline;
	color: red;
}
.uname {
	margin-left: 250px;
	margin-bottom: 20px;
	position: relative;
	}
	
.ageplace {
	color: black;
	float: right;
	position: relative;
	margin-top: 700px;
	}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
	color: #444;
	margin-top: 30px;
	margin-bottom: 4px;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: red;

}

.post-content {
    margin-top: 15px;
	margin-left: 80px;
}

.post-image	{
	width: 25px;
	height: 19px;
	margin-top: 15px;
	margin-left: 80px;
}

#nameTable	{
	position: relative;
	width: 25px;
	height: 19px;
	margin-left: 10px;
}

#dump_trash	{
	position: absolute;
	display: inline-block;
	margin: 420px 5px 5px -160px;
	width: 155px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	text-align:center;
	font-size: 16px;
	font-weight: 700;
	color: #C00000;
	background:#D8D8D8;
	padding-top:10px;
}

#error	{
	position: relative;
	display: block;
	text-align: center;
}

#piecesTable	{
	margin-left: 40px;
	font: Helvetica;
	font-size: 18px;

}