<!DOCTYPE html>

<html>
	<head>
		<title>Login</title>

		<link type="text/css" rel="stylesheet" href="/static/opening.css" />
	
		<title>Da Collection</title>
		
	</head>
	
	<body>
		<h2>Login</h2>
			<p>	<img src="/static/images/sunsetmee.jpeg" alt="DgK Cafe" width="450" height="300" class="objectperm">	</p>
			
				<form class="logger" method="post">
					<table>
						<tr>
							<td class="label">
								Username
							</td>
							<td>
								<input type="text" name="username" value="{{username}}">
							</td>
						</tr>
						
						<tr>
							<td class="label">
								Password
							</td>
							<td>
								<input type="password" name="password" value="">
							</td>
						</tr>
					</table>
					
					<div class="error">
						{{error}}
					</div>
				
					<input type="submit">
			</form>

	</body>
	
</html>

				