{% extends "base.html" %}

{% block content %}
  
	<p>	<img src= "/download-art-objects/{{post.key()}}" alt="DgK Cafe" id="objectnonperm">	</p>
	

			<ul>
				<li class="arts">Artist: <span id ="artist-stuff">{{post.artist | safe}}</span></li>
					
				<li class="arts">Medium: <span id="med-stuff">{{post.medium | safe}}</span></li>
					 
				<li class="arts">Date: <span id="date-stuff">{{post.made | safe}}</span></li>					 
					 
		<!-- 		<li class="arts">Notes:	<span class="stuff">{{post.content | safe}}</span></li> -->

			</ul>

		</form>


	



	
	<div class="ageplace">{{age}}</div>


{% endblock %}