{% extends "base.html" %}

{% block content %}

	
	<table id = "nameTable">
		<p id=artisttitle> {{ medium.medium }} </p>	
			{% for p in users %}

				<tr>
					{% for pic in p %}
				
						<td>
							<a href="{{'/blog/%s' % (pic.key().id())}}"> 
								<img src= "/download-art-objects/{{pic.key()}}" alt="DgK Cafe" id="pic">
								<div id="person">{{ pic.title }}</div>
							</a>
						</td>
		
					{% endfor %}
				</tr>
				
		
			{% endfor %}


	</table> 
			


	<div class = "ageplace"> {{age}} </div>
	
{% endblock %}
